<h1>Listing Carts</h1>

<table>
  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td>Cart <%= cart.id %></td>
        <%= render cart.line_items %>
        <tr>
          <td><%= link_to 'Show', cart %></td>
          <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
          <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
