<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<div id="columns">
  <div id="side">
    <%= render "layouts/navigation" %>
    <%= render "layouts/side_cart" %>
  </div>
  <div id="main"><%= yield %></div>
</div>
<%= render "layouts/footer" %>

</body>
</html>
