<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/partials/header" %>
<div id="columns">
  <%= render "layouts/partials/navigation" %>
  <div id="main"><%= yield %></div>
</div>
<%= render "layouts/partials/footer" %>

</body>
</html>
